<div class="tabs">
  <div class="left-col">
    <a [routerLink]="[ '/harry-potter' ]" [queryParams]="{ tabId: 'characters' }">Characters</a>
    <a [routerLink]="[ '/harry-potter' ]" [queryParams]="{ tabId: 'character-details' }">Character Details</a>
  </div>
  <div class="right-col">

    <app-character-list-tab
      class="tab"
      [class.tab-selected]="(urlState.params.tabId | async) === 'characters'"
    >
    </app-character-list-tab>

    <app-character-details-tab
      class="tab"
      [class.tab-selected]="(urlState.params.tabId | async) === 'character-details'"
    >
    </app-character-details-tab>

  </div>
</div>
