<div class="characters-page">

  <input
    type="text"
    class="search-input"
    [formControl]="searchField"
    placeholder="Search"
  />

  <main *ngIf="resultSet$ | async as resultSet">
    <h1>Results</h1>

    <app-character-card
      *ngFor="let character of resultSet.results"
      [character]="character"
    >
    </app-character-card>
  </main>

  <app-pagination
    [currentPage]="urlState.params.page | async"
    [currentPageSize]="urlState.params.pageSize | async"
    [itemCount]="(resultSet$ | async)?.total"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  >
  </app-pagination>

</div>
