<div class="pagination">
  <button [disabled]="currentPage === 1" (click)="onPageClicked(1)">
    First
  </button>

  <button
    *ngFor="let page of visiblePages"
    [disabled]="currentPage === page"
    (click)="onPageClicked(page)"
  >
    {{ page }}
  </button>

  <button [disabled]="currentPage === pageCount" (click)="onPageClicked(pageCount)">
    Last
  </button>

  <div class="page-size">
    <label for="pageSize">Page size:</label>
    <select #pageSize (change)="onPageSizeUpdated(pageSize.value)" id="pageSize">
      <option
        *ngFor="let pageSize of suggestedPagesSizes"
        [value]="pageSize"
        [selected]="currentPageSize === pageSize"
      >
        {{pageSize}}
      </option>
    </select>
  </div>
</div>
