<h1>Example Page</h1>


<h2>Individual Parameter Streams</h2>
<ul>
  <li>Page: {{ urlState.params.page | async }}</li>
  <li>Page Size: {{ urlState.params.pageSize | async }}</li>
</ul>


<h2>All Parameters Stream</h2>
<ul>
  <code>
    {{ urlState.allParams | async | json }}
  </code>
</ul>


<h2>Actions</h2>
<a routerLink="/example" [queryParams]="{ page: getSeconds() }" queryParamsHandling="merge">Change page via a link</a>
<div>
  <button (click)="changeParams()">Change Params programatically</button>
  <button (click)="alertCurrentPage()">What page am I on?</button>
</div>
